<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% if page.meta_description %}{{ page.meta_description }}{% else %}{{ site.meta_description }}{% endif %}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">

        {% if site.harmony.google_site_verification %}
        <!-- Verification token for Google Search Console -->
        <meta name="google-site-verification" content="{{ site.harmony.google_site_verification }}"/>
        {% endif %}

        <!-- Preloads -->
        <link as="style" rel="preload" href="{{ site.baseurl }}/assets/css/main.css">
        <link as="image" rel="preload" href="{{ site.baseurl }}/assets/css/images/socials-icons.svg">
        <link as="image" rel="preload" href="{{ site.baseurl }}/assets/css/images/bullet.svg">

        <!-- Modernizr js -->
        <script async src="{{ site.baseurl }}/assets/js/modernizr.js"></script>
    </head>
    <body class="{{ site.harmony.basetheme }}">
        {% include header.html %}
        {{ content }}
        {% include footer.html %}
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css">
        <script type="text/javascript">
          var loadFont = function(faceName) {
            var l = document.createElement('link');
            l.rel = 'stylesheet';
            l.href = 'https://fonts.googleapis.com/'
              + 'css?subset=latin&family='
              + encodeURIComponent(faceName);

            var h = document.getElementsByTagName('head')[0];
            h.parentNode.insertBefore(l, h);
          };
          var loadAllFonts = function() {
            ['Signika Negative', 'Fira Mono'].forEach(loadFont);
          };

          /* To avoid render blocking css */
          var raf = requestAnimationFrame || mozRequestAnimationFrame ||
              webkitRequestAnimationFrame || msRequestAnimationFrame;
          if (raf) {
            raf(loadAllFonts);
          } else {
            window.addEventListener('load', loadAllFonts);
          }
        </script>
        <noscript>
            <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Signika+Negative%7CFira+Mono">
        </noscript>
        <!-- Site js -->
        <!-- <script src="{{ site.baseurl }}/assets/js/all.js"></script> -->
        <!-- Google analytics  -->
        {% include google-analytics.html %}
    </body>
</html>
